@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --cyan: #64ffda;
    --cyan-tint: rgba(100, 255, 218, 0.1);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--navy);
    color: var(--slate);
    line-height: 1.3;
  }

  ::selection {
    background-color: var(--lightest-navy);
    color: var(--lightest-slate);
  }
}

@layer components {
  .section-heading {
    @apply text-2xl sm:text-3xl font-bold mb-10 flex items-center;
    color: var(--lightest-slate);
  }

  .section-heading::before {
    content: '';
    @apply relative mr-2 block;
    counter-increment: section;
    content: '0' counter(section) '.';
    color: var(--cyan);
    font-size: 1.25rem;
    font-weight: 400;
  }

  .section-heading::after {
    content: '';
    @apply block relative ml-5 h-[1px];
    width: 300px;
    background-color: var(--lightest-navy);
  }

  .numbered-heading {
    counter-reset: section 0;
  }
}
